name: Pull Request Verification

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0

      - run: yarn --frozen-lockfile

      - run: yarn tsc --build
      - run: yarn tsc --build packages/core/tsconfig.json

      - run: yarn rollup -c rollup.config.js

      - run: rm -rf fixtures/output && ./packages/cli/bin fixtures/maegi.yml
        env:
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}

      - run: git diff --exit-code
