name: Pull Request Verification

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - run: nix run .#nix-develop .#workflow
      - run: pnpm install

      - run: ./node_modules/.bin/tsc --build
      - run: ./node_modules/.bin/tsc --build packages/core/tsconfig.json

      - run: esbuild src/cli/index.ts --bundle --platform=node --target=node24 --outfile=packages/cli/index.js --format=esm --minify --external:sharp --banner:js='#!/usr/bin/env node'

      - run: rm -rf fixtures/output && ./packages/cli/index.js fixtures/maegi.yml
        env:
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}

      - run: git diff --exit-code

  biome:
    if: github.event.pull_request.draft == false
    name: Biome
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - run: nix run .#nix-develop .#workflow

      - run: biome check --reporter=github .
