name: Pull Request Verification

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - run: nix run .#nix-develop .#workflow

      - run: ./node_modules/.bin/tsc --build
      - run: ./node_modules/.bin/tsc --build packages/core/tsconfig.json

      - run: ./node_modules/.bin/rollup -c rollup.config.js

      - run: rm -rf fixtures/output && ./packages/cli/bin fixtures/maegi.yml
        env:
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}

      - run: git diff --exit-code
