name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      # ---------------------------------------------------------------------
      # Setup

      - run: nix run .#nix-develop .#workflow

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.13.0
          registry-url: "https://registry.npmjs.org"

      - run: pnpm install

      # ---------------------------------------------------------------------
      # Build

      - run: pnpm exec tsc -p packages/core/tsconfig.json
      - run: esbuild src/cli/index.ts --bundle --platform=node --target=node24 --outfile=packages/cli/index.js --format=esm --minify --external:sharp --banner:js='#!/usr/bin/env node'

      # ---------------------------------------------------------------------
      # Publish

      - run: ./scripts/publish
