name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # ---------------------------------------------------------------------
      # Setup

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24.11.1
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: "10.24.0"

      - run: pnpm install --frozen-lockfile

      # ---------------------------------------------------------------------
      # Build

      - run: ./node_modules/.bin/tsc --build
      - run: ./node_modules/.bin/tsc --build packages/core/tsconfig.json

      - run: ./node_modules/.bin/rollup -c rollup.config.js

      # ---------------------------------------------------------------------
      # Publish

      - run: ./scripts/publish
