name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # ---------------------------------------------------------------------
      # Setup

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.12.0
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: "10.26.2"

      - run: pnpm install --frozen-lockfile

      # ---------------------------------------------------------------------
      # Build

      - run: ./node_modules/.bin/tsc --build
      - run: ./node_modules/.bin/tsc --build packages/core/tsconfig.json

      - run: ./node_modules/.bin/rollup -c rollup.config.js

      # ---------------------------------------------------------------------
      # Publish

      - run: ./scripts/publish
