name: Publish

on:
  create:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - run: pnpm install --frozen-lockfile
      - run: pnpm tsc --build
      - run: pnpm tsc --build packages/core/tsconfig.json
      - run: pnpm rollup -c rollup.config.js
      - run: ./scripts/publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
